.inputTask {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    position: absolute;
    width: 736px;
    height: 54px;
    left: calc(50% - 736px/2);
    top: 173px;
}

.inputTask input {
    box-sizing: border-box;
    flex-direction: row;
    align-items: center;
    padding: 16px;
    gap: 8px;
    width: 638px;
    height: 54px;
    background: var(--gray-500);
    border: 1px solid var(--gray-700);
    border-radius: 8px;
    flex: none;
    order: 0;
    flex-grow: 1;
}

.inputTask input:hover {
    background: var(--gray-400);
}

.inputTask button {
    flex-direction: row;
    border: 0;
    width: 90px;
    height: 52px;
    background: var(--blue-700);
    border-radius: 8px;
    order: 1;
    flex-grow: 0;
    color: var(--white);
    margin-left: 8px;
    cursor: pointer;
}

.summary{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 2px;
    gap: 8px;
    position: absolute;
    width: 736px;
    height: 54px;
    left: calc(50% - 736px/2);
    top: 250px;
}

.created span{
    margin-left: 5px;
}

.done span{
    margin-left: 5px;
}